*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-main: hsl(0, 0%, 8%);
  --color-secondary: hsl(0, 0%, 18%);

  --color-green: rgb(83, 141, 78);
  --color-yellow: rgb(181, 159, 59);
}

html {
  font-size: 62.5%;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--color-main);
}

.board-box {
  width: 35.5rem;

  margin: 0 auto;
  padding-top: 8rem;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 0.5rem;

  position: relative;
}

.alert-box {
  width: 16rem;
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.alert-msg {
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
}

.show-alert {
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}

.row {
  column-span: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.shake-row {
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  25% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }
}

.letter-box {
  background-color: var(--color-main);

  width: 7rem;
  height: 7rem;

  border: 2.5px, solid var(--color-secondary);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes box-scale {
  50% {
    transform: scale(1.2);
  }
}

.letter-box-flip {
  animation: flip 0.5s ease-out 1;
}

@keyframes flip {
  50% {
    transform: rotateX(90deg);
  }
}

.letter-box-up {
  animation: box-up 0.5s linear 1;
}

@keyframes box-up {
  50% {
    transform: translateY(-25px) scale(1.1);
  }
}

.keyboard-box {
  width: 50rem;
  margin: 0 auto;
  padding-top: 6rem;
  display: grid;
  row-gap: 0.6rem;
}

.row-new {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
}

.key {
  font-family: "Roboto", sans-serif;

  width: 4.2rem;
  height: 5.8rem;
  color: #fff;
  background-color: hsl(0, 0%, 54%);
  border: none;
  border-radius: 6px;

  font-weight: 600;
  font-size: 2rem;

  cursor: pointer;
}

.key-enter {
  font-size: 1.2rem;
  width: 6.4rem;
}

.key-back {
  width: 6.4rem;
}

.back-icon {
  width: 2.6rem;
  height: 2.6rem;
}

.letter-box::before {
  content: "";
}
.box-0::before {
  content: "";
}

.background-green,
.background-yellow,
.background-gray {
  transition: all 0.5s;
}

.background-green {
  background-color: var(--color-green);
  border: none;
}

.background-yellow {
  background-color: var(--color-yellow);
  border: none;
}

.background-gray {
  background-color: var(--color-secondary);
  border: none;
}

@media (max-width: 90em) {
  .board-box {
    padding-top: 2rem;
  }

  .alert-box {
    top: 3%;
  }

  .keyboard-box {
    padding-top: 2rem;
  }
}

@media (max-width: 27em) {
  .keyboard-box {
    width: 100vw;
    margin: 0;
    padding-top: 5rem;
  }

  .key {
    width: 3.2rem;
    height: 5.8rem;
  }

  .key-enter,
  .key-back {
    width: 5.6rem;
  }
}

@media (max-width: 24em) {
  .board-box {
    margin: 0;
    width: 100vw;
    padding-top: 0;
  }

  .keyboard-box {
    padding-top: 1rem;
  }
  .key {
    width: 3.1rem;
    height: 6.4rem;
  }
  .key-enter,
  .key-back {
    width: 5.1rem;
  }
}
