*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-main: hsl(0, 0%, 8%);
  --color-secondary: hsl(0, 0%, 18%);

  --color-green: rgb(83, 141, 78);
  --color-yellow: rgb(181, 159, 59);
}

html {
  font-size: 62.5%;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--color-main);
}

.board-box {
  width: 35.5rem;
  height: 42rem;

  margin: 0 auto;
  margin-top: 8rem;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 0.5rem;
}

.row {
  column-span: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.letter-box {
  background-color: var(--color-main);

  width: 7rem;
  height: 7rem;

  border: 2.5px, solid var(--color-secondary);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-box {
  width: 50rem;
  margin: 0 auto;
  margin-top: 6rem;
  display: grid;
  row-gap: 0.6rem;
}

.row-new {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
}

.key {
  font-family: "Roboto", sans-serif;

  width: 4.2rem;
  height: 5.8rem;
  color: #fff;
  background-color: hsl(0, 0%, 54%);
  border: none;
  border-radius: 6px;

  font-weight: 600;
  font-size: 2rem;

  cursor: pointer;
}

.key-enter {
  font-size: 1.2rem;
  width: 6.4rem;
}

.key-back {
  width: 6.4rem;
}

.back-icon {
  width: 2.6rem;
  height: 2.6rem;
}

.letter-box::before {
  content: "";
}
.box-0::before {
  content: "";
}

.background-green,
.background-yellow,
.background-gray {
  transition: all 0.5s;
}

.background-green {
  background-color: var(--color-green);
}

.background-yellow {
  background-color: var(--color-yellow);
}

.background-gray {
  background-color: var(--color-secondary);
}
