*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-main: #fff5e1;
  --color-secondary: #cccccc;
  --color-tertiary: #d3d3d3;
  --color-light: #e6e6fa;

  --color-green: #98fb98;
  --color-yellow: #eee8aa;
  --color-red: #f08080;

  --color-black: #2c2c2c;

  --gradient-btn: linear-gradient(
    to right bottom,
    var(--color-green),
    var(--color-yellow),
    var(--color-red)
  );
  --gradient-title: linear-gradient(
    to right,
    var(--color-green),
    var(--color-yellow),
    var(--color-red)
  );

  --gradient-color-mode: linear-gradient(
    to right bottom,
    var(--color-light),
    var(--color-secondary),
    var(--color-black)
  );
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* color: var(--color-black); */
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
}

.bg_color--light {
  background-color: var(--color-main);
}

.bg_color--dark {
  background-color: var(--color-black);
}

.start-box {
  background-color: var(--color-black);

  display: flex;

  padding: 5rem;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.start-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title-text {
  background-image: var(--gradient-title);
  background-clip: text;
  color: transparent;
}

.info-text {
  color: var(--color-main);
}

.title-text {
  font-size: 4.8rem;
}

.info-text {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.play-btn:link,
.play-btn:visited {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  background: var(--gradient-btn);
  background-position: left;
  background-size: 200%;

  padding: 1.5rem 4rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.play-btn:hover,
.play-btn:active,
.play-btn:focus {
  background-position: right;
  transform: translateY(-3px);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.board-box {
  width: max-content;
  margin: 0 auto;
  padding-top: 2rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 0.5rem;

  position: relative;
  justify-self: center;
  align-self: center;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.color-mode__checkbox {
  display: none;
}

.color-mode__btn {
  background-color: var(--color-black);
  width: 10rem;
  height: 5rem;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.color-mode__btn::before {
  content: "";
  position: absolute;
  background: var(--gradient-color-mode);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 2.5px;
  transition: all 0.3s;
}

input:checked + .color-mode__btn {
  background-color: var(--color-main);
}
input:checked + .color-mode__btn::before {
  transform: translateX(50px);
}

@media screen and (max-width: 90em) {
  .board-box {
    padding-top: 1rem;
  }

  .wrapper {
    margin-top: 1rem;
  }

  .color-mode__btn {
    width: 5rem;
    height: 2.5rem;
  }

  .color-mode__btn::before {
    width: calc(45px / 2);
    height: calc(45px / 2);
    margin: calc(2.5px / 2);
  }

  input:checked + .color-mode__btn::before {
    transform: translateX(25px);
  }
}

.alert-box {
  width: 16rem;
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.alert-msg {
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 500;
}

.show-alert {
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}

.row {
  column-span: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.shake-row {
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  25% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }
}

.letter-box {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;

  width: 7rem;
  height: 7rem;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-box--light {
  color: var(--color-black);
  border: 2.5px solid var(--color-black);
}

.letter-box--dark {
  color: var(--color-light);
  border: 2.5px solid var(--color-main);
}

.letter-box--used {
  animation: box-scale 0.1s linear 1;
}

@keyframes box-scale {
  50% {
    transform: scale(1.2);
  }
}

.letter-box-flip {
  animation: flip 0.5s ease-out 1;
}

@keyframes flip {
  50% {
    transform: rotateX(90deg);
  }
}

.letter-box-up {
  animation: box-up 0.5s linear 1;
}

@keyframes box-up {
  50% {
    transform: translateY(-25px) scale(1.1);
  }
}

.keyboard-box {
  width: 50rem;
  margin: 0 auto;
  padding-top: 6rem;
  display: grid;
  row-gap: 0.6rem;
}

.row-new {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
}

.key {
  font-family: "Roboto", sans-serif;

  width: 4.2rem;
  height: 5.8rem;
  color: var(--color-black);
  background-color: var(--color-secondary);
  border: none;
  border-radius: 6px;

  font-weight: 600;
  font-size: 2rem;

  cursor: pointer;
}

.key-enter {
  font-size: 1.2rem;
  width: 6.4rem;
}

.key-back {
  width: 6.4rem;
  z-index: 10;
}

.back-icon {
  width: 2.6rem;
  height: 2.6rem;
  pointer-events: none;
}

.background-green,
.background-yellow,
.background-gray {
  transition: all 0.5s;
  color: var(--color-black);
}

.background-green {
  background-color: var(--color-green);
  border: none;
}

.background-yellow {
  background-color: var(--color-yellow);
  border: none;
}

.background-gray {
  background-color: var(--color-red);
  border: none;
}

@media (max-width: 90em) {
  .board-box {
    padding-top: 2rem;
  }

  .alert-box {
    top: 3%;
  }

  .keyboard-box {
    padding-top: 2rem;
  }
}

@media (max-width: 27em) {
  .keyboard-box {
    width: 100vw;
    margin: 0;
    padding-top: 5rem;
  }

  .key {
    width: 3.2rem;
    height: 5.8rem;
  }

  .key-enter,
  .key-back {
    width: 5.6rem;
  }
}

@media (max-width: 24em) {
  .board-box {
    margin: 0;
    width: 100vw;
    padding-top: 0;
  }

  .keyboard-box {
    padding-top: 1rem;
  }
  .key {
    width: 3.1rem;
    height: 6.4rem;
  }
  .key-enter,
  .key-back {
    width: 5.1rem;
  }
}

.restart-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.restart-content-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-style: solid;
  border-image: var(--gradient-title) 1;
  border-width: 1rem;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);

  width: 60rem;
  height: 30rem;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.add-grow {
  animation: grow 0.5s ease-in 1;
}

@keyframes grow {
  0% {
    transform: scale(0.7) translate(-50%, -25%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.restart-heading {
  font-size: 3.6rem;
  text-transform: uppercase;
  background-image: var(--gradient-title);
  background-clip: text;
  color: transparent;
}

.restart-content {
  font-size: 2.4rem;
  padding: 2rem;
  color: var(--color-light);
}

.restart-btn {
  font-size: 2.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  background: var(--gradient-btn);
  background-size: 300%;
  background-position: left;

  padding: 1rem 2rem;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s;
}

.restart-btn:hover,
.restart-btn:focus {
  background-position: right;
  transform: translateY(-3px);
}
